@import '../../../common/variables.scss';
@import '../../../common/mixins.scss';

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 24px;
}

.footer {
    padding: 68px 0;

    border-top: 1px solid $primary-border-color;
    background-color: $primary-color;

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__top {
        margin-bottom: 32px;

        display: flex;
        column-gap: 45px;
        row-gap: 45px;

        @media (max-width: 700px) {
            flex-direction: column;
        }

        &__company {
            min-width: 215px;

            &__name {
                color: $primary-text-color;
                @include footer-logo;
            }
        }

        &__content {
            flex-grow: 1;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            row-gap: 30px;

            @media (max-width: 700px) {
                justify-content: flex-start;
                column-gap: 70px;
            }

            &__container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            &__title {
                margin-bottom: 10px;

                color: $primary-text-color;
                @include h2;
            }

            &__link {
                margin: 9px 0;

                color: $secondary-text-color;
                @include h3;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__bottom {
        margin-top: 24px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &__copyright {
            color: $secondary-text-color;
            @include h3;
        }

        &__course {
            width: 53px;
            height: 20px;
            background: no-repeat center/contain
                url('../../../assets/images/course.svg');
        }
    }
}
