@import '../../../../common/variables.scss';
@import '../../../../common/mixins.scss';

.covid-diagram {
    grid-area: diagram;
    position: relative;

    border-radius: 5px;
    border: 1px solid $primary-border-color;
    background-color: $primary-color;

    &.scale {
        @include block-scale;
    }
}

#chart {
    margin: 5px;
}

.prev-category-icon,
.next-category-icon {
    margin: 10px 7px 0;
}
