@import '../../../../common/variables.scss';
@import '../../../../common/mixins.scss';

.covid-map-container {
    width: 100%;
    height: 650px;

    grid-area: map;
    position: relative;

    border-radius: 5px;
    border: 1px solid $primary-border-color;
    background-color: $primary-color;

    &.scale {
        @include block-scale;
    }
}

#mapid {
    height: 600px;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    .map-button {
        width: 100px;
        height: 30px;
        margin: 0 10px 10px;
        background-color: $map-button-background-color;
        color: #ffff;
        outline: none;
        border: 1px solid $map-button-background-color;
        border-bottom: 3px solid $map-button-background-color;
        cursor: pointer;
    }

    .active-button {
        border-bottom: 3px solid #ffff;
        background-color: $map-button-background-color-active;
    }
}

    .swiper-container {
    width: 600px;
    height: 50px;
    margin:auto;
    padding: 10px;
  }

.swpier-wrapper{
        overflow: hidden;
        padding: 10px;
        margin: auto;
}
.button-next, .button-prev {
    color: black;
    height:50%!important;
}
  .swiper-slide {
    height: 40px!important;
    text-align: center;
    font-size: 18px;
    background-color: $map-button-background-color-active;
    border-bottom: 3px solid #ffff;
    border-top: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
