@mixin h1 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

@mixin h2 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

@mixin h3 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

@mixin header-logo {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

@mixin footer-logo {
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

@mixin block-shadow {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.7), 0 3px 4px -2px rgba(0, 0, 0, 0.5);
}

@mixin block-scale {
    grid-area: none;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 999;
}

@mixin disable-outline {
    outline: none;

    &:focus-visible {
        outline: auto;
    }

    &:-moz-focusring {
        outline: auto;
    }
}
