$primary-color: #282c34;
$secondary-color: #1c2025;

$primary-text-color: #e6e5e8;
$secondary-text-color: #adb0bb;

$primary-border-color: #42464d;
$secondary-border-color: #5a5d63;

$map-button-background-color:rgb(0, 0, 0);
$map-button-background-color-active:rgb(63, 63, 63);
