@import '../../../../common/variables.scss';
@import '../../../../common/mixins.scss';

.covid-table {
    grid-area: table;
    position: relative;

    border-radius: 5px;
    border: 1px solid $primary-border-color;
    background-color: $primary-color;

    &.scale {
        @include block-scale;
    }
}
