@import '../../../common/variables.scss';
@import '../../../common/mixins.scss';

.header {
    min-height: 64px;
    padding: 0 24px;

    display: flex;
    align-items: center;

    background-color: $primary-color;
    @include block-shadow;

    &__logo {
        margin-right: 15px;
        min-width: 140px;

        color: $primary-text-color;
        @include header-logo;
    }

    &__search-form {
        position: relative;
        margin-left: auto;
        margin-right: 15px;

        flex-grow: 1;
        max-width: 320px;
    }

    &__search-input {
        padding: 12px 14px 12px 45px;
        width: 100%;

        color: $primary-text-color;
        @include h2;

        outline: none;
        border-radius: 4px;
        border: 1px solid $secondary-border-color;
        background: no-repeat 13px center/19px;
        background-image: url('../../../assets/images/search.svg');
        transition: background-color 0.1s linear;

        &:hover {
            background-color: $secondary-color;
        }

        &:focus {
            background-color: $secondary-color;
        }
    }

    &__theme-button {
        width: 44px;
        height: 44px;

        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;

        background-image: url('../../../assets/images/sun.svg');
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;

        &.active {
            background-image: url('../../../assets/images/moon.svg');
        }
    }
}
